<h4>Note</h4>

<form>
    <div class="edit-note">
<!--        <h4 ng-if="!isEditCreateView">No note selected</h4>-->
        <form ng-if="isEditCreateView">
            <md-input-container>
                <label>NoteHeader</label>
                <input type="text" ng-model="note.noteHeader" required md-maxlength="10">
            </md-input-container>
            <md-input-container>
                <label>Content</label>
                <textarea class="note-body" ng-model="note.content" rows="10" required md-maxlength="500"></textarea>
            </md-input-container>
            <div class="action-buttons">
                <md-button ng-click="saveNote(note)">Save</md-button>
                <md-button ng-click="cancelNote()">Cancel</md-button>
                <md-button ng-click="deleteNote(note)">Delete</md-button>
            </div>
            <div ng-if="showSuccessMessage" class="success-message">
                Note saved successfully
            </div>
            <div ng-if="showErrorMessage" class="error-message">
                Error while saving the note.
            </div>
            <div ng-if="showErrorMessageDelete" class="error-message">
                Error while deleting the note.
            </div>
            <div ng-if="showSuccessMessageDelete" class="success-message">
                Note Deleted successfully
            </div>
            <div ng-if="showErrorMessageUpdate" class="error-message">
                Error while updating the note.
            </div>
            <div ng-if="showSuccessMessageUpdate" class="success-message">
                Note Updated successfully
            </div>
        </form>
    </div>
</form>